# マネージド・アカウントの本人認証

あなたの管理する Stripe アカウントの本人認証は、あなたのプラっとフォームのリスクを減らす重要で（そして必須な）ステップです。
これを読んだ後にヘルプが必要な場合は、[一般的な質問](https://support.stripe.com/search?q=connect)に対する答えを調べるか、freenode 上の [#stripe](irc://irc.freenode.net/stripe) で他の開発者とライブチャットをしてください。

-----


